

/* Start:/bitrix/templates/NewMobileTemplate/template_styles.css?151253588395*/
body
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* End */
/* /bitrix/templates/NewMobileTemplate/template_styles.css?151253588395 */
