.feed-new-message-informer-place {
	background-color: #2d373c !important;
	height: 33px;
	position: relative;
	z-index: 140;
}
.pagetitle {
	color: #fff !important;
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 21px 0 21px 5px;
	display: block;
	word-wrap: break-word;
}
.feed-post-block {
	border-bottom: 15px solid #2d373c;
	padding-bottom: 20px;
	min-height: 87px;
	position: relative;
        background-color: #3e4d61 !important;
}
.feed-post-user-name:link, .feed-post-user-name:visited, .feed-post-user-name:active {
    color: #48d3ff;
    text-decoration: none;
}
div.bx-disk-interface-toolbar {
	font-size: 13px;
	height: 60px;
	padding-right: 20px;
	color: #fff;
	border-bottom: 1px solid #363f4d;
}
.bx-disk-interface-bread-crumbs-item-current {
	margin-right: 3px;
	color: #fff;
	border: 0;
}
.bx-disk-interface-sort {
	font-size: 13px;
	line-height: 32px;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 350px;
	padding: 14px 21px 6px 18px;
	text-align: right;
	vertical-align: middle;
	color: #fff;
}
.bx-messenger-content-group-float .bx-messenger-content-group-title {
	position: absolute;
	display: block;
	background-color: rgb(22, 31, 42);
	padding: 4px 15px 5px;
	border: 1px solid #505862;
	border-radius: 3px;
	margin-top: 32px;
	z-index: 10;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.bx-messenger-content-group-title {
	background-color: #161f2a;
	color: #fff !important;
	display: inline-block;
	font: 14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 18px;
	padding: 0 10px;
	text-shadow: 0 1px 1px #020203;
	vertical-align: top;
	text-decoration: none;
}
.feed-add-post-destination-new, .feed-post-link-new:link, .feed-add-post-destination-new:link, .feed-post-link-new:visited, .feed-add-post-destination-new:visited, .feed-post-link-new:hover, .feed-post-link-new:active, .feed-add-post-destination-new:active {
    border-bottom: 1px solid transparent;
    color: #c6cdd3;
    font-size: 14px;
    line-height: normal;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    vertical-align: middle;
}
span.feed-add-post-destination-new:hover {
    color: #8db1d0;
    text-decoration: none;
}
.feed-post-text-block {
    color: #ffffff;
    margin: 0 -18px 0 -70px;
    min-height: 39px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 18px 0 70px;
    position: relative;
}
.feed-inform-comments a, .feed-inform-ilike a, .feed-inform-follow a, .feed-post-more-link a {
    border-bottom: 1px solid transparent;
    color: #3bc8f5;
    text-decoration: none;
}
.feed-post-informers {
    background-color: #475c7b;
    line-height: 12px;
    overflow: hidden;
    padding: 23px 18px 18px 70px;
    margin: 0 -18px 0 -70px;
    min-height: 14px;
}
.feed-post-informers a, .feed-post-informers a:hover {
    color: #3bc8f5;
    text-decoration: none;
}
.feed-post-time-wrap a {
    color: #f9fafa!important;
    text-decoration: none;
}
.feed-post-title {
    border-bottom: 1px solid transparent;
    color: #fff!important;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: top;
}
.feed-post-item {
    margin: 0;
    overflow: hidden;
    padding: 12px 0 1px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    vertical-align: top;
}
.feed-com-files-title {
    color: #ffffff;
    float: left;
    font-size: 13px;
    font-weight: bold;
    min-width: 50px;
    margin-top: 2px;
}
.feed-com-tags-block .feed-com-files-cont {
    padding-top: 1px;
    color: #3bc8f5;
}
.feed-com-tag, .feed-com-tag:visited, .feed-com-tag:link, .feed-com-tag:active {
    border-bottom: 1px solid transparent;
    color: #3bc8f5;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-top: 3px;
    vertical-align: baseline;
}
.feed-add-post-files-title {
    background: url(/bitrix/components/bitrix/main.post.form/templates/.default/images/sprite_mpf_5.png) no-repeat 500px -5000px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    float: left;
    line-height: 20px;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.feed-add-post-files-title a {
    color: #3bc8f5 !important;
}
.feed-com-footer {
    cursor: pointer;
    height: 60px;
    border-bottom: 5px solid #28c3f5;
}
.feed-workday-edit .feed-workday-table {
    background-color: #798aa2;
}
.feed-workday-table {
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    margin-top: 7px;
    max-width: 873px;
    padding: 7px 25px 9px 22px;
}
.feed-add-post-form-variants {
    border-bottom: 1px solid #f0f1f2;
    min-height: 40px;
    padding: 0 10px 0 23px;
    position: relative;
    background-color: #475b7b;
}
.workarea-content-paddings {
    padding: 15px 15px 20px;
    overflow-x: auto;
    overflow-y: visible;
    background-color: #3e4c60;
    margin-right: 15px;
}
.feed-add-post-form-link-active {
    color: #3bc8f5!important;
}
.feed-add-post-form-link {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-right: 42px;
    position: relative;
    text-transform: uppercase;
}
.feed-add-post-text {
    color: #bfbfbf;
    font-size: 17px;
    padding: 0px !important;
}
.feed-add-destination-link, .feed-event-tags-add {
    border-bottom: 1px solid transparent;
    color: #3bc8f5;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin: 7px 7px 7px 18px;
    line-height: 17px;
    text-decoration: none;
    vertical-align: top;
    position: relative;
    -webkit-transition: border-bottom-color .2s linear;
    transition: border-bottom-color .2s linear;
}
.feed-add-post-destination-title, .feed-add-post-tags-title {
    color: #fff;
    float: left;
    font-size: 14px;
    min-width: 55px;
    padding-left: 5px;
}
.feed-cancel-com, .feed-cancel-com:link, .feed-cancel-com:visited, .feed-cancel-com:active {
    border-bottom: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    margin-top: 25px;
    text-decoration: none;
    vertical-align: top;
}
.sidebar-widget-calendar .sidebar-widget-item {
    min-height: 57px;
    padding: 8px 10px 10px 93px;
    position: relative;
    background-color: #3e4c60;
}
.sidebar-widget-item {
    border-bottom: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 14px 0 11px 17px;
}
.calendar-item-date {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}
.calendar-item-link {
    color: #3bc8f5;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 3px;
    word-wrap: break-word;
}
.task-item {
    border-top: 0px;
    border-bottom: 0;
    color: #ffffff!important;
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    overflow: hidden;
    padding-left: 19px;
    position: relative;
    text-decoration: none;
    background-color: #3e4c60;
}
.task-item-index {
    color: #fff;
    display: inline-block;
    font-family: "OpenSans-Light",sans-serif;
    margin-right: 17px;
    vertical-align: middle;
    font-size: 22px;
}
.sidebar-widget-popular .sidebar-widget-top {
    background-color: #5cd1df;
    margin-bottom: 0px;
}
.sidebar-widget-item {
    border-bottom: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 14px 0 11px 17px;
    background-color: #3e4c60;
}
.sidebar-widget-birthdays .sidebar-widget-top {
    background-color: #f8a70b;
    margin-bottom: 0px;
}
.user-post-name {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: -3px 0 5px;
    width: 100%;
}
.user-post-title {
    color: #3bc8f5;
    display: block;
    font-size: 13px;
    font-weight: normal;
    word-wrap: break-word;
}

element.style {
    top: 63px;
}

.start-page .bx-im-bar {
    background-color: #3e4c60;
}
.bx-im-bar {
    background-color: #3e4c60;
    bottom: 0;
    cursor: pointer;
    min-height: 400px;
    right: 0;
    top: 63px;
    position: fixed;
    width: 63px;
    z-index: 200;
    border-left: 0px;
    transform: translateZ(0);
}
.bx-im-border-b {
    border-bottom: 1px solid #2e373c;
}
.bx-im-bottom-block {
    border-top: 1px solid #2e373c;
    bottom: 0;
    height: 48px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    width: 100%;
}
.bx-messenger-recent-group-title {
    display: inline-block;
    height: 18px;
    font: 11px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 0 7px 0 5px;
    vertical-align: top;
}
.task-options {
    position: relative;
    padding: 0 5px;
    background: #475c7b;
}
.task-options-item-param {
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding-right: 10px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}
.task-dashed-link-add .task-dashed-link-inner {
	color: #fff;
	margin: 0 0 0 10px;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
.task-additional-alt-promo {
	color: rgba(227, 227, 227, 0.7);
}
.task-additional-alt-more {
	display: inline-block;
	overflow: hidden;
	float: left;
	font-weight: bold;
	padding-left: 26px;
	cursor: pointer;
	color: #fff;
	position: relative;
}
.task-additional-alt {
	cursor: pointer;
	padding-bottom: 15px;
	border-bottom: 1px solid #323f53;
}
.task-options-item {
	position: relative;
	padding: 11px 30px 11px 0;
	border-bottom: 1px solid #323f53;
	margin: 0 20px;
}
.feed-event-grey-cont {
	background-color: #475c7b;
	color: #fff;
	font-size: 14px;
	padding: 14px 18px;
	position: relative;
	margin: 0 20px 19px;
	overflow: hidden !important;
}
.feed-ev-timezone-link {
	color: #3bc8f5;
	cursor: pointer;
}
.feed-event-destination-title {
	color: #fff;
	float: left;
	font-size: 14px;
	min-width: 75px;
	margin-right: 10px;
	padding-left: 5px;
}
.feed-event-more-link-text {
	border-bottom: 1px dashed #fff;
	color: #fff;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}
.feed-event-inp-cont {
	border-bottom: 1px solid #f0f1f2;
	height: 43px;
	padding: 16px 0 0 22px;
	position: relative;
	margin: 0 0 19px;
	overflow: hidden !important;
	background-color: #fff;
}
.feed-event-from-to-reminder {
	margin-bottom: 10px;
	margin-top: 27px;
	padding-bottom: 10px;
	border-bottom: 1px solid #3a4e6c;
}
.feed-event-location {
	border-top: 1px solid #3a4e6c;
	padding: 15px 0 5px;
}
.feed-wrap, .feed-item-wrap {
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
#workarea-content {
	overflow: hidden;
	background-color: #2d373c;
	height: 100%;
}
.menu-item-block:hover, .menu-item-block-hover {
	background-color: #2d4551;
	border-bottom: 0;
	color: #000;
	text-decoration: none;
}
.menu-favorites-more-btn:hover {
	color: #48d3ff;
}
.menu-favorites-more-btn:hover .menu-favorites-more-icon {
	border-color: #48d3ff transparent transparent transparent;
}
.menu-favorites-more-btn-open.menu-favorites-more-btn:hover .menu-favorites-more-icon {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	border-color: transparent transparent #28c3f5 transparent;
}
.feed-post-user-name {
	border-bottom: 1px solid transparent;
	color: #48d3ff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.template-bitrix24 .main-buttons-inner-container {
	background: #3b4451;
}
.main-buttons-item-link {
	font: 15px/65px "OpenSans-Semibold","Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #fff;
	cursor: pointer;
	text-transform: none;
}
.main-buttons-item-active .main-buttons-item-link {
	color: #3bc8f5;
}
.main-buttons-item-active {
	border-bottom: 2px solid #3bc8f5;
	height: 58px !important;
}
.tasks-view-switcher-list-item, .tasks-view-switcher-list-item:link, .tasks-view-switcher-list-item:visited {
	margin: 0 18px 0 0;
	font: 14px/30px 'OpenSans-Regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor: pointer;
	text-decoration: none;
}
.tasks-counter {
	font: 13px 'OpenSans-Regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
}
.menu-item-index {
	background-color: #69c7e1;
	border-radius: 10px;
	color: #2d373c;
	display: inline-block;
	height: 18px;
	font: 11px/17px "OpenSans-Bold","Helvetica Neue",Arial,Helvetica,sans-serif;
	min-width: 14px;
	padding: 0 7px;
	text-align: center;
}
.bx-desktop-appearance-menu {
	position: absolute;
	z-index: 1000;
	background-color: #313f51;
	border-right: 1px solid #232e3b;
	width: 43px;
}
.bx-desktop-appearance-content {
	position: relative;
	z-index: 2;
	margin-left: 44px;
	background-color: #313f51;
}
.bx-messenger-box-topline {
	height: 0;
	font: 12px/17px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	overflow: hidden;
	background-color: #636e7b;
	transition: height .5s;
	vertical-align: top;
	position: absolute;
	width: 100%;
	z-index: 1002;
	margin-left: -1px;
	margin-top: -1px;
}
.bx-messenger-box-topline-show {
	height: 52px;
	border-bottom: 1px solid #636e7b;
	margin-top: 0;
}
.bx-messenger-box-contact {
	position: absolute;
	width: 254px;
	border-right: 0px;
	vertical-align: top;
	transition: all .5s;
	z-index: 410;
	background: #25313f;
}
.bx-messenger-cl-panel-status-text {
	display: inline-block;
	font: 12px/27px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	vertical-align: top;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bx-messenger-cl-user {
	font: 13px/33px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	white-space: nowrap;
}
.bx-messenger-recent-wrap .bx-messenger-cl-user-desc {
	font-size: 12px;
	color: #c5cece;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bx-messenger-recent-group-title {
	text-shadow: 0 1px 1px #1c2127;
}
.bx-messenger-cl-status-vacation .bx-messenger-cl-user, .bx-messenger-cl-status-offline .bx-messenger-cl-user {
	color: #fff;
}
.bx-messenger-chatlist-group-title {
	display: block;
	height: 18px;
	font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #48c1ea;
	text-shadow: 0 1px 1px #161d26;
	padding: 0 22px 0 5px;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bx-messenger-cl-item:hover {
	background-color: #2c3e53;
}
.bx-messenger-box-dialog {
	margin-left: 254px;
	vertical-align: top;
	background-color: #161f2a;
	transition: all .5s;
	overflow: hidden;
}
.bx-messenger-panel {
	height: 66px;
	border-bottom: 0px;
	position: relative;
	z-index: 400;
	margin: 0 15px 0 11px;
	background-color: #313f51;
	overflow: hidden;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.bx-messenger-panel-title-link {
	font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff !important;
	cursor: pointer;
	text-decoration: none;
}
.bx-messenger-panel-title {
	font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636974;
	text-shadow: 0 1px 1px #1e2733;
	white-space: nowrap;
}
.bx-messenger-textarea {
	border-top: 0px;
	padding: 8px 47px 21px 1px;
	font-size: 0;
	background: #fff;
	transition: all .5s ease 0s;
	margin-top: -11px;
	position: relative;
	z-index: 0;
}
.bx-messenger-textarea-place {
	background-color: #FFF;
	padding: 0 15px;
	position: relative;
	transition: width .5s;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #fff;
}
.sonet-groups-group-block {
	display: table-cell;
	padding: 24px 10px 26px 63px;
	overflow: hidden;
	vertical-align: top;
	width: 50%;
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid #394557;
}
.sonet-groups-group-link, .sonet-groups-group-link:visited, .sonet-groups-group-link:active {
	color: #fff !important;
	font-size: 16px;
	text-decoration: none;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.template-bitrix24 .sonet-groups-content-sort-container {
	border-bottom: 3px solid #415674;
	position: relative;
	margin: -5px 0 0;
	padding-top: 0;
	padding-left: 20px;
}
.sonet-groups-content-sort-container {
	padding-left: 10px;
	height: 27px;
	border-bottom: 1px solid #ecedef;
	color: #fff;
	vertical-align: top;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sonet-groups-content-sort-btn {
	margin-left: 5px;
	text-transform: none;
	color: #56cff6;
	border-bottom: 1px dashed;
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.sonet-groups-group-description {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
	color: #fff;
	padding-left: 2px;
	white-space: nowrap;
	margin-bottom: 8px;
	zoom: 1;
}
.sonet-groups-group-users {
	color: #3bc8f5;
	font-size: 13px;
	padding-left: 2px;
}
.bxec-sect-cont {
	background: #3b4451 !important;
	padding: 10px;
}
.bxec-sect-title-text {
	display: inline-block;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 13px;
	color: #fff !important;
	font-weight: bold;
	margin-left: 3px;
}
.bxec-sel-but .bxec-sel-but-inner, .bxec-sel-text .bxec-sel-but-inner {
	display: inline-block;
	height: 19px;
	vertical-align: top;
	line-height: 17px;
	font-size: 13px;
	font-weight: bold;
	color: #fff !important;
	font-family: Verdana,Arial,"Helvetica Neue",Helvetica,sans-serif !important;
	padding: 1px 4px 0 4px;
}
.bxec-buttons-cont .bxec-add-but span {
	display: inline-block;
	border-bottom: 1px dashed #36b5df !important;
	color: #6ad3f6 !important;
	vertical-align: top;
	margin: 2px 2px 0 4px;
}
.bxc-day {
	position: relative;
	background-color: #fff !important;
}
.sitemap-window {
	background: #1e2f45;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2500;
	overflow-y: auto;
	transform: translateY(-110%);
}
.sitemap-section-item {
	display: block;
	font-size: 14px;
	font-family: "Helvetica New",Helvetica,Arial,sans-serif;
	color: #fff;
	padding: 11px 21px 12px 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
	margin-bottom: 4px;
}
.sitemap-section-item:hover, .sitemap-section-title:hover {
	background: #2c4463;
	color: #fff;
}
.sitemap-section-title {
	display: block;
	padding: 5px 21px 8px 20px;
	font-size: 22px;
	font-family: "OpenSans-Regular",Helvetica,Arial,sans-serif;
	color: #63d3fb;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
}
.bxcal table.BXEC-Calendar-week {
	width: 100%;
	border-collapse: collapse;
	border-left: 1px solid #c9c9c9 !important;
	border-right: 1px solid #c9c9c9 !important;
	background-color: #fff;
}
.bx-disk-container td {
	vertical-align: top;
	background-color: #3e4c60;
        color: #fff;
}
.bx-disk-interface-toolbar .bx-disk-context-button {
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	height: 20px;
	margin-right: 1px;
	padding: 13px 20px;
	-webkit-transition: background .2s cubic-bezier(.000,.465,.750,.750);
	-moz-transition: background .2s cubic-bezier(.000,.465,.750,.750);
	-o-transition: background .2s cubic-bezier(.000,.465,.750,.750);
	transition: background .2s cubic-bezier(.000,.465,.750,.750);
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	color: #4dcffb;
	font-family: "OpenSans-Bold";
}
.bx-disk-interface-toolbar .bx-disk-context-button:hover, .bx-disk-interface-toolbar .bx-disk-context-button.active {
	background: #4bc0e7;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bx-disk.bx-disk-grid-head > td {
	font-size: 14px;
	height: 55px;
	padding: 0 10px;
	vertical-align: middle;
	color: #fff !important;
	background: #506583 !important;
}
.bx-disk.bx-disk-grid-head .bx-disk-sortable:hover, .bx-disk.bx-disk-grid-head .bx-disk-sortable.bx-disk-sorted {
	cursor: pointer;
	-webkit-transition: background .3s cubic-bezier(.000,.465,.750,.750);
	-moz-transition: background .3s cubic-bezier(.000,.465,.750,.750);
	-o-transition: background .3s cubic-bezier(.000,.465,.750,.750);
	transition: background .3s cubic-bezier(.000,.465,.750,.750);
	background: #556c8f !important;
}
.bx-disk-user-link a, .bx-disk-file-title, .bx-disk-folder-title {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
.bx-disk-table-footer.bx-disk-grid-footer td {
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 52px !important;
	padding: 0 20px !important;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff !important;
	background: #506583 !important;
}
.bx-disk-table-footer.bx-disk-grid-footer {
	width: 100%;
	border: 1px solid #374457 !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bx-disk-table-footer.bx-disk-grid-footer td span {
	color: #58d5ff;
}
.bx-disk-footer-interface-toolbar-container {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 54px;
	height: 54px;
	margin-top: 20px;
	padding: 0 10px;
	color: #fff;
	background: #3e4c60;
}
.bx-disk-table-footer.bx-disk-grid-footer td span.bx-disk-files-number {
	color: #fff;
	border-bottom: 1px dotted;
	cursor: pointer;
}
.bx-disk-table-footer.bx-disk-grid-footer td span.bx-disk-amt {
	color: #2fc7f7;
}
.bx-disk-btn-gray {
	color: #fff;
	background-color: #56c5ea;
}
.bx-disk-btn-gray:hover {
	color: #fff;
	background-color: #97d2ea;
}
.bx-disk-table-sidebar-cell {
	position: relative;
	width: 200px;
	padding: 0 0 0 20px;
	vertical-align: top;
	border-left: 1px solid #324157;
}
.bx-disk-sidebar-section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #313d50;
	font-family: OpenSans-Light;
}
.bx-disk-info-panel-empty-text {
	font-size: 18px;
	color: #fff;
}