

/* Start:/bitrix/components/bitrix/calendar.event.simple.add/templates/.default/style.min.css?1511316476303*/
div.calendar-icon{width:20px;height:20px;background:url(/bitrix/components/bitrix/calendar.event.simple.add/templates/.default/images/bullet_calendar.gif) no-repeat 2px 4px;float:left}a.calendar-link{margin-left:22px;display:block}.calendar-not-confirmed{font-weight:bold}.imortant-event{font-weight:bold}span.calendar-reminder{font-weight:bold;padding:0 2px;cursor:default}
/* End */


/* Start:/bitrix/components/bitrix/intranet.user.selector.new/templates/.default/style.css?1511316523349*/
input.intranet-hidden-input {display: none;}
.intrantet-user-selector-tooltip {z-index: 4500 !important;}

.finder-box .finder-box-item-icon,
.finder-box .company-department-employee-icon {
	display: none;
}
.finder-box.finder-box-multiple .finder-box-item-icon,
.finder-box.finder-box-multiple .company-department-employee-icon {
	display: block;
}
/* End */
/* /bitrix/components/bitrix/calendar.event.simple.add/templates/.default/style.min.css?1511316476303 */
/* /bitrix/components/bitrix/intranet.user.selector.new/templates/.default/style.css?1511316523349 */
